/* CUSTOM STYLE */

/* #wrapper.hasbg.transparent {
    padding-top: 74px !important;
} */

.main-menu-wrapper .elementor-section:nth-child(1) {
    background-color: #b1c2a9;
}

.v-c {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    left: 0;
    right: 0;
}

#loftloader-wrapper .loader-section {
    background-color: #b1c2a9;
}

.content-editor-bottom-btn .edit-content-btn {
    top: initial;
    bottom: -40px;
}

.content-editor-inside-btn .edit-content-btn {
    top: 10px;
}

.home-main-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-main-col {
    margin-inline-end: 10px;
}
.menu-main-col:last-child {
    margin-inline-end: 0;
}

.food-menu-img {
    height: 120px;
}

.food-menu-content-title-holder {
    white-space: normal;
}

.food-menu-img img {
    border-radius: 5px;
}